.footer-page {
  background-color: var(--bggreen);
}
.footer-page__title {
  color: var(--main-white);
  font-family: var(--font-standard);
  font-size: var(--L-text-size);
  font-style: normal;
  font-weight: var(--font-weight-L);
  line-height: normal;
  text-transform: uppercase;
  margin-left: 20px;
  width: 232px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    letter-spacing: 1.04px;
    width: 352px;
    margin-left: 33px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: var(--XXL-text-size);
    font-weight: var(-font-wieght-XS);
    letter-spacing: 1.2px;
    width: 504px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page__grid-elements {
    display: block;
    gap: 14px;
  }
}

.footer-page__element {
  color: var(--main-white);
  font-family: var(--font-standard);
  font-size: 34px;
  font-style: normal;
  font-weight: var(--L-text-size);
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-left: 20px;
  width: 200px;
  margin-top: 16px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    letter-spacing: 2.88px;
    width: 352px;
    margin-left: 33px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    letter-spacing: 3.48px;
    width: 504px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-page__grid {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page__grid {
    display: flex;
    justify-content: space-between;
  }
}

.footer-page__block {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 110px;
  }
}

.footer-page__item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.footer-page__icon {
  fill: var(--bggreen);
  margin: 7px;
}

.footer-page__contact {
  color: var(--dark-black);
  text-align: right;
  font-size: var(--S-text-size);
  font-style: normal;
  font-weight: var(--L-text-size);
  line-height: 186%;
  margin-right: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 34px;
    margin-right: 16px;
    font-size: var(--M-text-size);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 40px;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-page__social-contact {
    display: block;
    margin-right: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page__social-contact {
    display: block;
    margin-right: 16px;
    margin-top: 60px;
  }
}

.footer-page__tel {
  color: #fcfcfc;
}

.footer-page__line::after {
  content: '';
  display: block;
  max-width: 100%;
  height: 1px;
  background-color: #e1e1e1;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: 1167px;
  }
}

.footer-page__rights {
  color: #7a7a7a;
  text-align: center;
  font-size: var(--M-text-size);
  font-style: normal;
  font-weight: var(--L-text-size);
  line-height: 152%;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 12px;
    margin-bottom: 12px;
    letter-spacing: 0.28px;
  }
}
