
    <section class="about">
        <div class="container">
        <p class="upper-title-about">tradition and love</p>
        <h2 class="title-of-about">how it’s made?</h2>
        <p class="big-circle"></p>
        <img class="cow-image" src="./images/about/cow-for-mobile.png" alt="cow picture"
       >
    <div class="db-about">
    <div class="spans-with-descriptions-about">
        <span class="about-description">
            Ice is a place where you will become not only a 
            little happier, but also healthier. Health is the main value for us, and we follow 
            it when creating our handmade desserts. 
        </span>
        <span class="about-description">
            We use traditional recipes and 100% natural ingredients. Our products are so natural 
            that they can be given to children from the age of three years. Sweets lovers can expect 
            55 types of ice cream, 15 types of coffee and 23 milkshakes. 
        </span>
        <span class="about-description">
            This is enough to choose ice cream and  coffee for any mood!
        </span>
    </div>
    <div class="about-button-div">
        <button class="about-button" type="button" data-modal-open-3>Read more<svg class="arrow-icon"><use href="./images/about/about-svg.svg#icon-right_arrow"></use></svg></button>
    </div>
    </div>
    </div>
    <div class="backdrop is-hidden" data-modal-3>
        <div class="modal-body">
          <p>How it’s made?</p>
          <button type="button" class="modal-close" data-modal-close-3>X</button>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
            >
              <g clip-path="url(#clip0_1175_143)">
                <path
                  d="M32.1601 16.08L8.94007 4.47001C8.62682 4.32487 8.28224 4.26039 7.93771 4.28244C7.59318 4.30448 7.25963 4.41235 6.96743 4.59621C6.67523 4.78008 6.43365 5.03411 6.2647 5.33518C6.09574 5.63625 6.00477 5.9748 6.00007 6.32001V29.53C5.99714 29.8844 6.08568 30.2335 6.25712 30.5436C6.42856 30.8538 6.6771 31.1144 6.97873 31.3004C7.28036 31.4864 7.62487 31.5915 7.97896 31.6054C8.33305 31.6194 8.68475 31.5417 9.00007 31.38L32.1601 19.77C32.5031 19.5978 32.7916 19.3336 32.9931 19.0069C33.1947 18.6802 33.3014 18.3039 33.3014 17.92C33.3014 17.5361 33.1947 17.1598 32.9931 16.8331C32.7916 16.5064 32.5031 16.2422 32.1601 16.07V16.08Z"
                  fill="#FCFCFC"
                />
              </g>
              <defs>
                <clipPath id="clip0_1175_143">
                  <rect width="36" height="36" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus et molestias
            aliquid unde omnis aut quidem, ab praesentium porro? Nisi eius debitis consectetur, ad
            reprehenderit quisquam recusandae autem cupiditate beatae porro.
          </p>
        </div>
      </div> 
    </section> 