
    <section class="about">
        <p class="upper-title-about">tradition and love</p>
        <h2 class="title-of-about">how it’s made?</h2>
        <img class="cow-image" src="./images/about/cow-for-mobile.png" alt="cow picture"
       >

    <div class="spans-with-descriptions-about">
        <span class="about-description">
            Ice is a place where you will become not only a 
            little happier, but also healthier. Health is the main value for us, and we follow 
            it when creating our handmade desserts. 
        </span>
        <span class="about-description">
            We use traditional recipes and 100% natural ingredients. Our products are so natural 
            that they can be given to children from the age of three years. Sweets lovers can expect 
            55 types of ice cream, 15 types of coffee and 23 milkshakes. 
        </span>
        <span class="about-description">
            This is enough to choose ice cream and  coffee for any mood!
        </span>
    </div>
    <div class="about-button-div">
        <button class="about-button" type="button">Read more<svg class="arrow-icon"><use href="./images/about/about-svg.svg#icon-right_arrow"></use></svg></button>
    </div>
    </section> 