<section class="advantages-section">
  <h2 class="advantages-section__title">Advantages</h2>
  <ul class="advantages-section__list">
    <li class="advantages-section__item">
      <div class="advantages-section__position">
        <div class="advantages-section__decoration">
          <svg class="advantages-section__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </div>
      </div>
      <h3 class="advantages-section__header">721</h3>
      <p class="advantages-section__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="advantages-section__item">
      <div class="advantages-section__position">
        <div class="advantages-section__decoration">
          <svg class="advantages-section__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div>
      </div>
      <h3 class="advantages-section__header">16kg</h3>
      <p class="advantages-section__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="advantages-section__item">
      <div class="advantages-section__position">
        <div class="advantages-section__decoration">
          <svg class="advantages-section__icon" width="36px" height="36px">
            <use href="./images/icons.svg#icon-ice-crema"></use>
          </svg>
        </div>
      </div>
      <h3 class="advantages-section__header">84</h3>
      <p class="advantages-section__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
