<section class="contact-section">
  <h2 class="visually-hidden">Contact</h2>
  <ul class="contact-items-wrapper">
    <li class="contact-item">
      <p class="contact-item-category">Cafe</p>
      <p class="contact-item-paragraph">Chicago</p>
      <address class="contact-item-address">
        <a href="https://goo.gl/maps/expSHVfVwxbLBAXM9" target="_blank"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </address>
      <p class="contact-item-paragraph">Monday - Friday</p>
      <time class="contact-item-hours">06:00 AM - 10:00 PM</time>
      <p class="contact-item-paragraph">Saturday - Sunday</p>
      <time class="contact-item-hours">08:00 AM - 16:00 PM</time>
      <p><a href="tel:+610383766284">+61(0) 383 766 284</a></p>
      <p><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
    </li>
    <li class="contact-item">
      <p class="contact-item-category">Food truck</p>
      <p class="contact-item-paragraph">Los Angeles</p>
      <address class="contact-item-address">
        <a href="https://goo.gl/maps/WDneNibGNG2K6RZEA" target="_blank"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </address>
      <p class="contact-item-paragraph">Monday - Friday</p>
      <time class="contact-item-hours">06:00 AM - 10:00 PM</time>
      <p class="contact-item-paragraph">Saturday - Sunday</p>
      <time class="contact-item-hours">08:00 AM - 16:00 PM</time>
      <p><a href="tel:+610383766284">+61(0) 383 766 284</a></p>
      <p><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
    </li>
    <li class="contact-item">
      <p class="contact-item-category">Cafe</p>
      <p class="contact-item-paragraph">New York</p>
      <address class="contact-item-address">
        <a href="https://goo.gl/maps/Rdy1Vwge9rxPFBJU9" target="_blank"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </address>
      <p class="contact-item-paragraph">Monday - Friday</p>
      <time class="contact-item-hours">06:00 AM - 10:00 PM</time>
      <p class="contact-item-paragraph">Saturday - Sunday</p>
      <time class="contact-item-hours">08:00 AM - 16:00 PM</time>
      <p><a href="tel:+610383766284">+61(0) 383 766 284</a></p>
      <p><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
    </li>
  </ul>
  <ul class="contact-btn-list">
    <li class="contact-btn-item">
      <button class="contact-btn-primary">Our Locations</button>
    </li>
    <li class="contact-btn-item">
      <button class="contact-btn-secondary">Frenchise</button>
    </li>
  </ul>
</section>
