<footer>
  <p>HOMEMADE ICE CREAM MADE WITH PASSION</p>
  <ul>
    <li>
      <a href="https://github.com/" target="_blank"
        ><svg width="20px" height="20px">
          <use href="./images/icons.svg#icon-cat"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://web.telegram.org/a/" targer="_blank"
        ><svg width="20px" height="15px">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" target="_blank">
        <svg width="9px" height="20px">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p>Feel free to contact <a href="tel:+61(0)383766284"> +61 (0) 383 766 284</a></p>
  <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
</footer>
