<footer class="footer-page">
  <div class="container">
    <div class="footer-page__grid">
      <div class="footer-page__grid-elements">
        <p class="footer-page__title">HOMEMADE ICE CREAM MADE</p>
        <p class="footer-page__element">WITH PASSION</p>
      </div>
      <div class="footer-page__social-contact">
        <ul class="footer-page__block">
          <li class="footer-page__item">
            <a href="https://github.com/" target="_blank"
              ><svg class="footer-page__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-cat"></use>
              </svg>
            </a>
          </li>

          <li class="footer-page__item">
            <a href="https://web.telegram.org/a/" targer="_blank"
              ><svg class="footer-page__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-page__item">
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer-page__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer-page__contact">
          Feel free to contact
          <a class="footer-page__tel" href="tel:+61(0)383766284"> +61 (0) 383 766 284</a>
        </p>
      </div>
    </div>

    <div class="footer-page__line"></div>
    <p class="footer-page__rights">&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
