<section id="gallery">
  <div class="container">
    <ul id="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-img"
          id="slide1"
          src="/src/images/gallery/gallery-photo-1.jpg"
          srcset="/src/images/gallery/gallery-photo-1@2x.jpg x2"
          alt="ice-cream photo"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          id="slide2"
          src="/src/images/gallery/gallery-photo-2.jpg"
          srcset="/src/images/gallery/gallery-photo-2@2x.jpg x2"
          alt="ice-cream photo"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-img"
          id="slide3"
          src="/src/images/gallery/gallery-photo-3.jpg"
          srcset="/src/images/gallery/gallery-photo-3@2x.jpg x2"
          alt="ice-cream photo"
        />
      </li>
    </ul>
  </div>
</section>
