<section class="header">
    <svg class="ice-icon" width="18.6" height="37.14" stroke="#F8D24E">
        <use href="../images/headericons.svg#icon-ice-icon"></use>
    </svg>
    <svg class="ce-icon" width="23" height="19" stroke="#F8D24E">
        <use href="../images/headericons.svg#icon-ce"></use>
    </svg>
    <button type="button" class="hamburger-btn js-open-menu">
        <svg class="hamburger-icon" width="32" height="22" stroke="#2E2F42">
            <use href="./images/icons.svg#icon-charm_menu-hamburger"></use>
        </svg>
    </button>
    <div class="modal-menu js-menu-container">
        <button type="button" class="menu-close-icon js-close-menu">
            <svg class="close-x" width="32px" height="32px">
                <use href="./images/icons.svg#icon-close-icon"></use>
            </svg>
        </button>
        <div class="menu-modal">
            <svg class="ice-icon" width="18.6" height="37.14" stroke="#F8D24E">
                <use href="../images/headericons.svg#icon-ice-icon"></use>
            </svg>
            <svg class="ce-icon" width="23" height="19" stroke="#F8D24E">
                <use href="../images/headericons.svg#icon-ce"></use>
            </svg>
            <ul>
                <li><a href="#" class="menu-pos">Home</a></li>
                <li><a href="#" class="menu-pos current">How it`s made?</a></li>
                <li><a href="#" class="menu-pos">Our ptoducts</a></li>
                <li><a href="#" class="menu-pos">Contact</a></li>
            </ul>
        </div>
        <button type="button" class="mobile-buy-button">
            Buy now >
        </button>
    </div>
    <div class="desktop-menu">
        <ul>
            <li><a href="#" class="menu-pos">Home</a></li>
            <li><a href="#" class="menu-pos current">How it`s made?</a></li>
            <li><a href="#" class="menu-pos">Our ptoducts</a></li>
            <li><a href="#" class="menu-pos">Contact</a></li>
        </ul>
    </div>
    <button type="button" class="buy-button">
        Buy now >
    </button>
</section>