<section class="header container" id="home">
    <div class="logo">
        <svg class="ice-icon" width="19" height="38">
            <use href="./images/header/headericons.svg#icon-ice-icon"></use>
        </svg>
        <p class="ce-icon">ce</p>
    </div>
    <button type="button" class="hamburger-btn js-open-menu">
        <svg class="hamburger-icon" width="32" height="32">
            <use href="./images/header/headericons.svg#icon-hamburger-icon"></use>
        </svg>
    </button>
    <div>
        <ul class="desktop-menu">
            <li><a href="#home" class="menu-pos">Home</a></li>
            <li><a href="#about" class="menu-pos current">How it`s made?</a></li>
            <li><a href="#products" class="menu-pos">Our products</a></li>
            <li><a href="#contacts" class="menu-pos">Contact</a></li>
        </ul>
    </div>
    <div class="btn-buy-style">
        <button type="button" class="buy-button " data-modal-open>
            Buy now
            <svg class="arrow-icon" width="12" hight="12">
                <use href="./images/header/headericons.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</section>