<section>
  <h1>Ice cream made with passion</h1>
  <button href="#" type="button">Products</button>
  <a href="#">How it's made?</a>
  <p>16</p>
  <p>cafes</p>
  <p>23</p>
  <p>food trucks</p>
  <img
    alt="plate with ice-creams and fruits"
    srcset="
      /src/images/hero/hero-plate-tab-1x.png     1x,
      /src/images/hero/hero-plate-tab-2x.png     2x,
      /src/images/hero/hero-plate-desktop-1x.png 1x,
      /src/images/hero/hero-plate-desktop-2x.png 2x
    "
    src="/src/images/hero/hero-plate-tab-1x.png"
  />
  <p>
    Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable
    experience!
  </p>
  <img
    alt="ice-cream balls, with smiles"
    srcset="
      /src/images/hero/hero-mobile-1x.png  1x,
      /src/images/hero/hero-mobile-2x.png  2x,
      /src/images/hero/hero-tablet-1x.png  1x,
      /src/images/hero/hero-tablet-2x.png  2x,
      /src/images/hero/hero-desktop-1x.png 1x,
      /src/images/hero/hero-desktop-2x.png 2x,
      \
    "
    src="/src/images/hero/hero-mobile-1x.png"
  />
</section>
