<section>
  <h1 class="hero-title">Ice cream made with <span>passion</span></h1>
  <button class="hero-button" href="#" type="button">Products</button>
  <a class="hero-link" href="#">How it's made?</a>
  <p class="hero-number">16</p>
  <p class="hero-cafe-text">cafes</p>
  <p class="hero-number">23</p>
  <p class="hero-cafe-text">food trucks</p>
  <img
    class="hero-plate"
    alt="plate with ice-creams and fruits"
    srcset="
      /src/images/hero/hero-plate-tab-1x.png     1x,
      /src/images/hero/hero-plate-tab-2x.png     2x,
      /src/images/hero/hero-plate-desktop-1x.png 1x,
      /src/images/hero/hero-plate-desktop-2x.png 2x
    "
    src="/src/images/hero/hero-plate-tab-1x.png"
  />
  <p class="hero-text">
    Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable
    experience!
  </p>
  <div class="hero-background">
    <img
      class="hero-icecream"
      alt="ice-cream balls, with smiles"
      srcset="
        /src/images/hero/hero-mobile-1x.png  1x,
        /src/images/hero/hero-mobile-2x.png  2x,
        /src/images/hero/hero-tablet-1x.png  1x,
        /src/images/hero/hero-tablet-2x.png  2x,
        /src/images/hero/hero-desktop-1x.png 1x,
        /src/images/hero/hero-desktop-2x.png 2x
      "
      src="/src/images/hero/hero-mobile-1x.png"
    />
  </div>
</section>
