<div class="menu-mobile js-menu-container container">
    <div class="mob-menu-head">
        <div class="mob-logo">
            <svg class="mob-ice-icon" width="19" height="38">
                <use href="./images/header/headericons.svg#icon-ice-icon"></use>
            </svg>
            <p class="mob-ce-icon
                    ">ce</p>
        </div>
        <button type="button" class="menu-close-btn js-close-menu">
            <svg class="close-x" width="32px" height="32px">
                <use href="./images/header/headericons.svg#icon-close-icon"></use>
            </svg>
        </button>
    </div>
    <ul class="menu-mob-style">
        <li><a href="#home" class="menu-mob-pos">Home</a></li>
        <li><a href="#about" class="menu-mob-pos">How it`s made?</a></li>
        <li><a href="#products" class="menu-mob-pos">Our products</a></li>
        <li><a href="#contacts" class="menu-mob-pos">Contact</a></li>
    </ul>
    <button type="button" class="mobile-buy-button" data-modal-open>
        Buy now
        <svg class="arrow-icon" width="12" hight="12">
            <use href="./images/header/headericons.svg#icon-arrow"></use>
        </svg>
    </button>
    <div class="backdrop is-hidden" data-modal-1>
        <div class="modal-body">
            <p>Buy now</p>
            <button type="button" class="modal-close" data-modal-close-1>X</button>
            <label>
                <input type="radio" name="product" value="ice cream" /><img src="./images/modals/icecream.jpg"
                    srcset="./images/modals/icecream2x.jpg 2x" alt="circle picture with ice cream" />
            </label>
            <label>
                <input type="radio" name="product" value="ice coffee" /><img src="./images/modals/icecoffee.jpg"
                    srcset="./images/modals/icecoffee2x.jpg 2x" alt="circle picture of ice coffee" />
            </label>
            <label>
                <input type="radio" name="product" value="milkshake" /><img src="./images/modals/milkshake.jpg"
                    srcset="./images/modals/milkshake2x.jpg 2x" alt="circle picture of milk shake" />
            </label>
            <div class="modal-form">
                <form class="form">
                    <label for="username" class="modal-input">Name</label>
                    <input type="name" name="username" id="username" class="modal-form-input" required />
                    <label for="phone" class="modal-input">Phone</label>
                    <input type="number" name="phone" id="phone" class="modal-form-input" required />
                    <label class="texarea-label"> Comment</label>
                    <textarea name="comment" placeholder="Text input" class="comment" required></textarea>
                    <button type="submit" class="order-modal">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>