<button type="button" class="order" data-modal-open-2>
  <svg xmlns="http://www.w3.org/2000/svg" width="41" height="16" viewBox="0 0 41 16" fill="none">
    <path
      d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
      fill="#131313"
    />
  </svg>
</button>

<div class="backdrop is-hidden" data-modal-2>
  <div class="modal-body">
    <p>Chololate icecream</p>
    <img
      src="./images/modals/chololate icecream.jpg"
      srcset="./images/modals/chololate icecream2x.jpg 2x"
    />
    <button type="button" class="modal-close" data-modal-close-2>X</button>

    <p class="quantity_nutritionvalue">320</p>
    <p class="nutritionalvalue">kcal</p>
    <p class="quantity_nutritionvalue">4g</p>
    <p class="nutritionalvalue">Protein</p>
    <p class="quantity_nutritionvalue">8,2g</p>
    <p class="nutritionalvalue">Fats</p>
    <p class="quantity_nutritionvalue">40,4g</p>
    <p class="nutritionalvalue">Carbs</p>

    <p>Ingredients</p>
    <p class="ingredients">Milk</p>
    <p class="quantity_ingredients">100ml</p>
    <p class="ingredients">Belgian chocolate</p>
    <p class="quantity_ingredients">20g</p>
    <p class="ingredients">Cream</p>
    <p class="quantity_ingredients">150 ml</p>
    <p class="ingredients">Cocoa powder</p>
    <p class="quantity_ingredients">30g</p>
    <p class="ingredients">Sugar</p>
    <p class="quantity_ingredients">40g</p>
    <p class="ingredients">Vanilla sugar</p>
    <p class="quantity_ingredients">10g</p>
    <div class="modal-form">
      <form class="form">
        <label for="username" class="modal-input">Name</label>
        <input type="name" name="username" id="username" class="modal-form-input" required />
        <label for="phone" class="modal-input">Phone</label>
        <input type="number" name="phone" id="phone" class="modal-form-input" required />
        <label class="texarea-label"> Comment</label>
        <textarea name="comment" placeholder="Text input" class="comment" required></textarea>
        <button type="submit" class="order-modal">Submit</button>
      </form>
    </div>
  </div>
</div>
