<div class="backdrop is-hidden" data-modal-2>
  <div class="modal">
    <button class="modal_btn-svg" type="button" data-modal-close-2>
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-clarity_close-line"></use>
      </svg>
    </button>
    <form>
      <div class="forms">
        <p class="forms_title">Chocolate icecream</p>
        <div class="forms_img">
          <img
            src="/src/images/products/icecream_modal.png"
            srcset="/src/images/products/icecream_modal@2x.png 2x"
            alt="chocoicecream"
          />
        </div>
        <div>
          <ul class="forms_nutrition">
            <li class="forms_nutrition-item">
              <p>320</p>
              <span>kkal</span>
            </li>
            <li class="forms_nutrition-item">
              <p>4g</p>
              <span>Protein...</span>
            </li>
            <li class="forms_nutrition-item">
              <p>8.2g</p>
              <span>Fats</span>
            </li>
            <li class="forms_nutrition-item">
              <p>40,4g</p>
              <span>Carbs</span>
            </li>
          </ul>
        </div>
        <div class="forms_ingredients">
          <p>Ingredients</p>
          <ul class="forms_ingredients-list">
            <li class="forms_ingredients-item">
              <div>Milk</div>
              <div>100ml</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Belgian chocolate</div>
              <div>20g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Cream</div>
              <div>150ml</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Cocoa powder</div>
              <div>30g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Sugar</div>
              <div>40g</div>
            </li>
            <li class="forms_ingredients-item">
              <div>Vanilla sugar</div>
              <div>10g</div>
            </li>
          </ul>
        </div>
        <label class="forms_item">
          <input
            type="text"
            name="username"
            placeholder="Name"
            required
            pattern="\w{3,20}"
          />
        </label>
        <label class="forms_item">
          <input
            type="tel"
            name="phone"
            placeholder="Phone"
            required
            pattern="[0-9].{8,}"
          />
        </label>
        <label class="forms_comment">
          <textarea name="comment" rows="5" placeholder="Comment"></textarea>
        </label>
        <button class="forms_submit-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
