<section class="background" id="products">
  <div class="products container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__grid">
      <li class="products__list products__list--color-green">
        <img class="products__img" src="/src/images/products/ice-cream_mobile@1x.png" alt="cup of ice cream" srcset="
                    /src/images/products/ice-cream_mobile@2x.png  400w,
                    /src/images/products/ice-cream_tablet@1x.png  200w,
                    /src/images/products/ice-cream_tablet@2x.png  400w,
                    /src/images/products/ice-cream_desktop@1x.png 302w,
                    /src/images/products/ice-cream_desktop@2x.png 604w
                  " sizes="(min-width:1200px) 302px, (min-width:768px) 200px, (min-width:480px) 200px, 100vw" />
        <h3 class="products__title-card">ice cream</h3>

        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button class="products__btn-service" type="button" data-modal-open>
          <svg class="" width="40" height="16">
            <use href="/src/images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__list products__list--color-yellow">
        <img class="products__img" src="/src/images/products/ice-coffee_mobile@1x.png" alt="glass of ice coffee" srcset="
            /src/images/products/ice-coffee_mobile@2x.png  400w,
            /src/images/products/ice-coffee_tablet@2x.png  200w,
            /src/images/products/ice-coffee_tablet@2x.png  400w,
            /src/images/products/ice-coffee_desktop@1x.png 302w,
            /src/images/products/ice-coffee_desktop@2x.png 604w
          " sizes="(min-width:1200px) 302px, (min-width:768px) 200px, (min-width:480px) 200px, 100vw" />

        <h3 class="products__title-card">ice coffee</h3>

        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button class="products__btn-service" type="button" data-modal-open>
          <svg class="" width="40" height="16">
            <use href="/src/images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__list products__list--color-brown">
        <img class="products__img" src="/src/images/products/milkshakes_mobile@1x.png" alt="cup of milkshakes" srcset="
                    /src/images/products/milkshakes_mobile@2x.png  400w,
                    /src/images/products/milkshakes_desktop@2x.png 200w,
                    /src/images/products/milkshakes_desktop@2x.png 400w,
                    /src/images/products/milkshakes_desktop@1x.png 302w,
                    /src/images/products/milkshakes_desktop@2x.png 604w
                  " sizes="(min-width:1200px) 302px,(min-width:768px) 200px, (min-width:480px) 200px, 100vw" />
        <h3 class="products__title-card">milkshakes</h3>

        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button class="products__btn-service" type="button" data-modal-open>
          <svg class="" width="40" height="16">
            <use href="/src/images/icons.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>